<%- include('../partials/header.ejs') %>
<main>
        <div style="height: max-content; font: weight 300px;; color: crimson; font-size: larger;display: flex;align-content: center;">
            <p style="text-align: center;">Esta era la vista de carrito...</p>

        </div>
        

</main>
<%- include('../partials/footer') %>